<%= form_for(@restaurant) do |t| %>
  <div class="form-group">
    <%= t.label :name %>
    <%= t.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= t.label :address %>
    <%= t.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= t.label :phone_number %>
    <%= t.text_field :phone_number, class: 'form-control' %>
  </div>

  <%= t.select :category, Restaurant::CATEGORIES.sort.map(&:capitalize) %>

  <%= t.submit class: 'btn btn-primary' %>

<% end %>
